.App {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.231);
  height: 100vh;
}

.task-parent {
  display: flex;
  align-items: center;
  padding-top: 30px;
  flex-wrap: wrap;
}

.task-card{
  box-shadow: 2px 5px 5px 0px rgba(137, 135, 135, 0.75);
  margin: 5px;
  padding: 0px 10px;
  background-color: white;
  width: 30%;
  border-radius: 5px;
  position: relative;
}

.task-heading-container {
  margin-bottom: 20px;
  margin-top: 5px;
}

.task-heading{
  text-transform: capitalize;
  text-align: left;
}

.task-textarea {
  width: 100%;
}

.task-details{
  min-height: 70px;
  text-align: left;
}

.create-dialog-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.452);
}

.moving-top {
  position: absolute;
  right: 10px;
  top: 10px;
  color: black;
}

.box-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3)
}

.task-dialog-heading{
  font-weight: 600;
}

.task-created-at-updated-at{
  font-size: 12px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  font-style: italic;
}

.no-task-found{
  text-align: center;
  width: 100%;
}
